/* Rodapé */
footer {
    background: var(--dark);
    color: white;
    text-align: center;
    height: 12vh;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: white;
    font-size: 1.63rem;
    transition: var(--transition);
}

.fab.fa-whatsapp {
    color: #25D366 !important;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-links a:hover {
    transform: translateY(-3px);
}

.copyright {
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 0.9rem;
    color: var(--gray);
}
