{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
    <link rel="stylesheet" href="{% static 'core/css/desktop/http.css' %}">
</head>
<body>
    <div class="error-container">
        <div class="logo">
            <img src="https://i.ibb.co/G3WqN7N1/logo-barbearia-Photoroom.png" alt="logo do sistema" class="logo-image">
        </div>
        <h1>400</h1>
        <h2>Requisição Inválida</h2>
        <p>O servidor não conseguiu processar sua solicitação. Verifique os dados enviados e tente novamente.</p>

        <button class="btn" onclick="reportError()">
            <i class="fas fa-bug"></i> Reportar Erro
        </button>
    </div>

    <script>
        function reportError() {
            alert("Obrigado por reportar o erro! Nossa equipe será notificada.");
            // Aqui você pode adicionar a lógica para enviar o report de erro
        }
    </script>
</body>
</html>