@media (max-width: 820px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #f5f7fa;
    }
  
    /* Main Content */
    .main-content {
        flex: 1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .services-container {
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        padding: 10px;
        width: 100%;
        min-height: 45vh;
    }
  
    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaecef;
    }
  
    .content-header h2 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #2c3e50;
        display: flex;
        align-items: center;
        gap: 10px;
    }
  
    .content-header h2 i {
        color: #e67e22;
    }
  


    /* Services Table */
    .services-table {
      display: grid;
      width: 100%;
      max-height: 60vh;
      padding-inline: 10px;
      overflow-y: auto;
      gap: 5px;
    }
  
    .services-header{
        display: none;
    }
    
    .service-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      padding: 10px 5px;
      margin-bottom: 5px;
      color: #2c3e50;
      background-color: #f8f9fa;
      border: 1px solid #eaecef;
      transition: all 0.3s ease;
      border-radius: 10px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    }
  
    .service-name {
        font-weight: 500;
        font-size: .9rem;
        display: flex;
        align-items: center;
    }
  
    .service-price {
        display: flex;
        justify-content: right;
        align-items: center;
        font-weight: 600;
        color: #27ae60;
    }
  
    .service-duration {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #2c3e50;
    }
  
    .service-duration i {
      color: #3498db;
    }
  
    .service-actions {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 10px;
    }
  
    .action-btn {
      width: 30px;
      height: 30px;
      font-size: .89rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #f8f9fa;
      border: 1px solid #eaecef;
      transition: all 0.3s ease;
    }
  
    .action-btn:hover {
      background-color: #edf2f7;
      transform: translateY(-3px);
    }
  
    .action-btn.edit { color: #3498db; }
    .action-btn.history { color: #e67e22; }
    .action-btn.delete { color: #e74c3c; }
  
  
    .action-btn:hover {
        opacity: 0.9;
        transform: translateY(-2px);
    }

  }