<header>
    <div class="logo">
        <div class="logo-icon">
            {% if barbershop.logo %}
                <img src="{{ barbershop.logo.url }}" alt="logo do sistema" class="logo-image">
            {% else %}
                <img src="https://i.ibb.co/G3WqN7N1/logo-barbearia-Photoroom.png" alt="logo do sistema" class="logo-image">
            {% endif %}
        </div>
        <div class="logo-content">
            <h1>Orbly Barber</h1>
            <p>Sistema de agendamento profissional</p>
        </div>
    </div>
    <div class="date-display">
        <i class="fas fa-calendar-alt"></i>
        <span id="currentDate">Carregando data...</span>
    </div>
    <div class="user-controls">
        <div class="user-profile" id="userProfile">
            <div class="avatar">{{ user.name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}</div>
            <div class="user-name">{{ user.name }} {{ user.last_name }}</div>
            <i class="fas fa-chevron-down" id="chevronIcon"></i>
            
            <div class="user-sidebar">
                <div class="sidebar-header">
                    <div class="sidebar-avatar">{{ user.name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}</div>
                    <div class="sidebar-user-info">
                        <span class="sidebar-name">{{ user.name }} {{ user.last_name }}</span>
                        <span class="sidebar-email">{{ user.email }}</span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <a href="" class="sidebar-item">
                        <i class="fas fa-user"></i>
                        <span>Meu Perfil</span>
                    </a>
                    <a href="" class="sidebar-item">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="nav-bar">
    <div class="nav-tabs">
        <a href=" "><div class="nav-tab"><i class="fas fa-calendar-days"></i> Agenda</div></a>
        <a href=" "><div class="nav-tab"><i class="fas fa-users"></i> Clientes</div></a>
        <a href="  "><div class="nav-tab"><i class="fas fa-credit-card"></i> Catálogo</div></a>
        <a href=""><div class="nav-tab"><i class="fas fa-history"></i> Histórico</div></a>
        <a href=""><div class="nav-tab"><i class="fas fa-chart-line"></i> Dashboard</div></a>
        <a href=""><div class="nav-tab active"><i class="fas fa-store"></i> Minha Barbearia</div></a>
        <a href=""><div class="nav-tab"><i class="fas fa-pen"></i> Meu Website</div></a>
    </div>
    <div class="stats">
        {% comment %} <div class="unit-filter">
            <select>
                {% for unit in units %}
                    <option>{{ unit.name }}</option>
                {% endfor %}
                <option>Geral</option>
            </select>
        </div> {% endcomment %}
        <div class="stat-box">
            <div class="stat-value">{{ units.count }}</div>
            <div class="stat-label">Unidades</div>
        </div>
    </div>
</div>


{% block content %}{% endblock content%}