


<div class="nav-tabs">
    <a href=" "><div class="nav-tab"><i class="fas fa-calendar-days"></i> Agenda</div></a>
    <a href=" "><div class="nav-tab"><i class="fas fa-users"></i> Clientes</div></a>
    <a href="  "><div class="nav-tab"><i class="fas fa-credit-card"></i> Catálogo</div></a>
    <a href=""><div class="nav-tab"><i class="fas fa-history"></i> Histórico</div></a>
    <a href=""><div class="nav-tab"><i class="fas fa-chart-line"></i> Dashboard</div></a>
    <a href=""><div class="nav-tab active"><i class="fas fa-store"></i> Minha Barbearia</div></a>
    <a href=""><div class="nav-tab"><i class="fas fa-pen"></i> Meu Website</div></a>
</div>