/* Responsividade */
@media (max-width: 821px) {

    .btn {
        padding: 12px 28px;
        font-size: .95rem;
        letter-spacing: 1px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
    }

    .logo{
        display: flex;
        flex-direction: column;
    }

    .logo-content{
        margin-top: -15px;
    }
    
    .nav-menu {
        display: none;
    }


    /* PRIMEIRA SECAO */
    .hero{
        padding: 50px 0;
    }
    .hero h1 {
        font-size: 1.8rem;
    }
    
    .hero p {
        font-size: 1.1rem;
    }
    
    .hero-btns {
        flex-direction: column;
        align-items: center;
    }

    .hero-btns a{
        width: 190px;
        padding: 10px;
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 25px;
        margin-top: 50px;
    }

    .feature-card {
        padding: 10px;
    }

    .feature-icon {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .feature-card h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    /* PLANOS */
    .plan-toggle {
        border-radius: 15px;
        padding: 5px;
    }

    .toggle-btn {
        border-radius: 20px;
    }
    
    .plan-card {
        padding: 30px 20px;
    }

    /* TUTORIAL  */
    .tutorials-grid {
        display: flex;
        gap: 20px;
        padding: 5px 0 10px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-color: var(--primary) var(--gray-light); /* Firefox */
    }

    .tutorial-card{
        padding: 0px 0px 15px;
        width: 285px;
        flex: 0 0 auto;
    }
    
    .contact-buttons {
        flex-direction: column;
        align-items: center;
    }



    section {
        padding: 30px 0;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    .screenshots-section {
        padding: 50px 0;
    }

    .screenshots-section h2 {
        font-size: 1.8rem;
    }
    
    .swiper {
        height: 350px;
    }
    
    .swiper-button-next, 
    .swiper-button-prev {
        display: none;
    }

    .nav-menu.mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(135deg, var(--primary-dark), var(--primary));
        width: 100%;
        padding: 10px;
        border-top: 2px solid var(--accent);
        position: fixed;
        bottom: 0;
        z-index: 10;
        border-radius: 15px 15px 0 0;
    }

    .nav-menu.mobile a{
        color: white;
        font-size: 1.1rem;
    }

    .nav-menu.mobile a.active{
        color: var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-4px);
    }

}