{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Barbearia Executiva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="assets/css/Desktop/style.css"> -->
    <link rel="stylesheet" href="{% static 'user/css/desktop/login.css' %}">

    <link rel="stylesheet" href="{% static 'geral/css/desktop/style.css' %}">

    <link rel="shortcut icon" href="assets/img/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <div class="logo">
                <div class="logo-icon">
                    <img src="https://i.ibb.co/G3WqN7N1/logo-barbearia-Photoroom.png" alt="logo do sistema" class="logo-image">
                </div>
                <h1>Orbly Barber</h1>
            </div>
        </div>
        
        <div class="login-body">
            <div class="body-top">
                <div class="welcome-title">
                    <h2>Bem-vindo</h2>
                    <p>Entre com sua conta para acessar o sistema</p>
                </div>
                


                <form id="loginForm"  method="post">
                    {% csrf_token %}
                    <div class="form-area">
                        <div class="form-group">
                            <label class="form-label" for="cpf">
                                <i class="fas fa-address-card"></i> 
                                CPF
                            </label>
                            <div class="input-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label" for="password">
                                <i class="fas fa-lock"></i> 
                                Senha
                            </label>
                            <div class="input-icon">
                                <i class="fas fa-key"></i>
                            </div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="••••••••" >
                            <div class="password-toggle" id="togglePassword">
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                        
                        <div class="remember-forgot">
                            <div class="remember-me">
                                <input type="checkbox" id="remember">
                                <label for="remember">Lembrar-me</label>
                            </div>
                            <a href="#" class="forgot-password">Esqueceu a senha?</a>
                        </div>
                    </div>

                    <button class="btn-login" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Entrar
                    </button>
                </form>




            </div>
    
           
        </div>
    </div>

    <script src="assets/js/login.js"></script>
</body>
</html>